.crop_card {
    gap:10px;
    margin-left: 20px;
}

.card_img img { 
    height: 200px;
    width:100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 50px -10px;
    background-color: #ffffff !important;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 350px;
}

.card_body {
    height: 150px;
}

.card_img img{
    position: relative;
    transition: 0.5s ease;
}

.card_img :hover {
    transform: scale(1.01);
}

.card_title a{
    text-decoration: none;
    color: green;
    font-size: 1.5rem;
    
}

.card_bottom a {
    text-decoration: none;
    color: black;
}

h5{
    font-size: 1.2rem;
}

.card_bottom h5{
    font-size: 1rem;
    font-weight: 400;
}

.morebtn {
    margin-left: 10px;
    border: 2px solid green;
    background-color: #ffffff;
    border-radius: 5px;
    transition: 0.5s ease;
}

.morebtn:hover {
    background-color: green;
    transition: 0.2s ease;
}

.morebtn a {
    transition: 0.5s ease;
}

.morebtn:hover a {
    color: #e2e2e2;
    transition: 0.2s ease;
}

.morebtn::after {
    background-color: green;
    transition: 1s ease;
}