.main-footer {
    color: white;
    background-color: #0cc133;
    padding-top: 3em;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

}
.t-raw{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1vh;
}

