.accontainer {
  max-width: 600px;
  margin: 150px 250px;
  font-family: Arial, sans-serif;
  height: 450px;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 80px;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -150px;
}

.label {
  display: block;
  margin: 20px 0px 20px 0px;
}

.input {
  width: 800px;
  height: 50px;
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
  border: 2px solid green !important;
}

.updateButton {
  background-color: white !important;
  border: 2px solid green !important;
  color: black;
  padding: 5px 10px;
  font-weight: 500;
  transition: 0.2s ease;
  border-radius: 5px;
  margin-top: 50px;
  margin: 20px;
}

.signoutButton:hover, .updateButton:hover {
  background-color: green !important;
  color: white;
  transition: 0.2s ease;
}

.signoutButton {
  background-color: white !important;
  border: 2px solid green !important;
  color: black ; 
  padding: 5px 10px;
  font-weight: 500;
  transition: 0.2s ease;
  border-radius: 5px;
  margin-top: 50px;
  margin: 20px;
}


@media (max-width: 1024px) {
  .accontainer {
    margin: 100px 50px;
    max-width: 90%;
    height: auto; 
  }

  .profileContainer {
    gap: 40px;
    flex-direction: column;
  }

  .input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .accontainer {
    margin: 50px 20px;
  }

  .profileImage {
    width: 80px;
    height: 80px;
    margin-top: -100px;
  }

  .input {
    width: 100%;
  }

  .updateButton, .signoutButton {
    width: 100%;
    margin: 10px 0;
  }
}

.show-password-update {
  position: absolute;
  bottom: 305px;
  margin-left: -30px;

}