@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
  background-size: cover;
}

.wrapper {
  width: 400px;
  border-radius: 40px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(50px);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

h4{
  margin-bottom: 20px;
  color: #fff;
  font-family:Helvetica;
  font-weight: lighter;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 30px;
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.15);
    color: #efefef;
    font: weight 900px;;
  }

input[type=email]:focus {
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
  }

.wrapper a {
  color: #efefef;
  text-decoration: none;
  font-weight: bold;
}

.wrapper a:hover {
  color: blue;
}

button {
  background: #fff;
  color: #000;
  width: 60%;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 15px;
  border: 2px solid transparent;
  transition: 0.1s ease;
}

button:hover {
  color: #fff;
  border-color: #ffffff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}