* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100%;
  background-color: #efefef;
}

.password-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.left-column {
  width: 100%;
}

.right-column {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.wrapper {
  width: 90%;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper input[type=email] {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid green !important;
  color: #000000;
}

.wrapper span {
  position: absolute;
  left: 0;
  padding: 12px 20px;
  pointer-events: none;
  font-size: 1.2rem;
  transition: 0.1s ease;
  color: #000;
}

.wrapper input:valid ~ span,
.wrapper input:focus ~ span {
  color: green;
  transform: translateX(15px) translateY(-18px);
  font-size: 1.1rem;
  background-color: white;
  padding: 5px;
  font-weight: 500;
}

.wrapper input:valid ~ input,
.wrapper input:focus ~ input {
  border: 2px solid green !important;
} 

.wrapper form {
  display: flex;
  flex-direction: column;
}

.wrapper h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
}

.wrapper h4 {
  margin-bottom: 20px;
  color: #000000;
  font-family: Helvetica;
  font-weight: lighter;
}

.wrapper .input-field {
  margin-bottom: 15px;
}

#input-field-pw {
  margin-bottom: 40px;
}

.wrapper a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.wrapper a:hover {
  color: green;
}

.wrapper button {
  background: transparent;
  color: #000;
  width: 50%;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid green;
  transition: 0.1s ease;
  margin: 0 auto;
}

.wrapper button:hover {
  color: #fff;
  border-color: green;
  background: green;
}

.wrapper .register {
  text-align: center;
  margin-top: 30px;
  color: #000000;
}

/* Media Queries for responsiveness */
@media (min-width: 768px) {
  .password-container {
    flex-direction: row;
  }

  .left-column,
  .right-column {
    width: 50%;
  }

  .image {
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .password-container {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .image {
    height: 50vh;
  }

  .wrapper {
    width: 90%;
    padding: 20px;
  }

  .wrapper h2 {
    font-size: 1.5rem;
  }

  .wrapper h4 {
    font-size: 1rem;
  }

  .wrapper button {
    width: 100%;
    padding: 15px;
  }
}
