@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.outside {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  padding: 0 10px;
  position: relative;
  background-image: url('../../assets/photo/bgsign1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed ;
}

.outside::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay */
  z-index: 1;
}

.inside {
  margin: 30px;
  width: 400px;
  border-radius: 30px;
  padding: 10px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 2;
}

form {
  display: flex;
  flex-direction: column;
}

.outside h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  font-style: italic;
}

form div {
  width: 100%;
  margin: 10px 0;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #fff;
}

input {
  width: 100%;
  height: 30px;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.15);
  color: #efefef;
  font-weight: 400;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.25);
  outline: none;
}

.outside button {
  background: white;
  color: #000;
  font-weight: bold;
  width: 50%;
  border: none;
  margin: 30px !important;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 15px;
  border: 2px solid transparent;
  transition: 0.1s ease;
  align-self: center;
  border-radius: 30px !important;

}

.outside button:hover {
  color: #fff;
  border-color: #ffffff;
  background: rgba(255, 255, 255, 0.15);
}

.outside p {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.outside a {
  text-decoration: none !important;
  color: #ffffff !important;
}

.outside p:hover {
  color: white;
}